/* {
    outline: 2px rgb(196, 192, 186) dotted;
}*/
body {
    margin: 0;
    background-color: rgb(227, 223, 217);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: rgb(30, 30, 30);
}
main {
    height: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    justify-content: center;
}
header > img {
    max-height: 120px;
    width: auto;
    transition: all 0.15s;
}
header:active > img {
    transform: scale(0.95);
}
side {
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    margin: 5px;
}
middle {
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    width: 700px;
}
#dir {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    width: 100%;
    background-color: rgb(239, 234, 227);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    justify-content: space-between;
}
left {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    padding-left: 5px;
}
right {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: right;
}
#dir > left > button {
    padding: 5px 10px 5px 10px;
    height: 30px;
    border: 0;
    background-color: rgb(239, 234, 227);
    user-select: none;
    border-radius: 5px;
    transition: background-color 0.05s, transform 0.15s;
}
#dir > left > button:hover {
    background-color: rgba(52, 84, 55, 0.2);
}
#dir > left > button:active {
    transform: scale(0.95);
    background-color: rgba(52, 84, 55, 0.4);
}
#dir > left > p {
    user-select: none;
    margin: 3px;
    margin-top: 0;
}
#dir > right > button {
    padding: 5px 10px 5px 10px;
    height: 30px;
    border: 0;
    background-color: rgb(239, 234, 227);
    user-select: none;
    border-radius: 5px;
    transition: background-color 0.05s, transform 0.15s;
    margin-right: 5px;
}
#dir > right > button:hover {
    background-color: rgba(52, 84, 55, 0.2);
}
#dir > right > button:active {
    transform: scale(0.95);
    background-color: rgba(52, 84, 55, 0.4);
}
nav {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 2px;
}
nav > button {
    border: 0;
    background-color: rgb(239, 234, 227);
    height: 30px;
    font-size: 14px;
    margin-bottom: 5px;
    transition: background-color 0.05s, transform 0.15s, border-radius 0.05s;
    border-radius: 5px;
}
button {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 501;
    color: rgb(30, 30, 30);
}
nav > button:hover {
    background-color: rgba(52, 84, 55, 0.2);
}
nav > button:active {
    transform: scale(0.95, 0.95);
    border-radius: 0;
    background-color: rgba(52, 84, 55, 0.4);
}
announcement {
    background-color: rgba(38, 61, 40, 0.15);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 501;
    color: rgb(30, 30, 30);
}
middle > card {
    padding: 20px;
    padding-bottom: 10px;
    background-color: rgb(239, 234, 227);
    border-radius: 5px;
    margin-bottom: 10px;
}
side > card {
    padding: 10px;
    background-color: rgb(239, 234, 227);
    border-radius: 5px;
    margin-bottom: 8px;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
#site-title {
    padding: 20px;
}
#site-title > h2 {
    margin: 0;
}
.title, .subtitle {
    text-align: center;
    width: 100px;
}
a {
    color: inherit;
    text-decoration: underline 2px solid rgba(38, 61, 40, 0.3);
    transition: all 0.1s;
}
a:hover {
    color: rgba(38, 61, 40, 1);
    text-decoration: underline 2px solid rgba(38, 61, 40, 0.7);
}
a:active {
    color: rgb(16, 20, 17);
    text-decoration: underline 2px solid rgba(15, 20, 16, 0.7);
}
a:visited {
    text-decoration: underline 2px double rgba(15, 20, 16, 0.7);
}
#statuscafe-content {
    margin: 5px;
    font-size: 14px;
    font-weight: 501;
    width: calc(100%-30px);
}
#statuscafe-username {
    margin: 5px;
    font-size: 14px;
    font-weight: 401;
    width: calc(100%-30px);
    text-align: right;
    color: rgb(50, 50, 50);
    font-size: 14px;
}
#statuscafe-username > a {
    display: none;
}
#status-who {
    margin: 5px;
    font-size: 14px;
    font-weight: 401;
    width: calc(100%-30px);
    text-align: left;
}
#desc-title {
    font-weight: 501;
    margin: 3px;
    width: calc(100% - 10px);
    text-align: center;
    font-size: 14px;
}
#desc {
    font-weight: 401;
    margin: 3px;
    width: calc(100% - 10px);
    font-size: 14px;
}
#btn {
    border: 2px rgb(171, 169, 163) dashed;
    transition: all 0.15s;
}
#btn:active {
    transform: scale(0.95);
}
#btn:hover {
    border: 2px rgba(38, 61, 40, 0.7) dashed;
}
#btn-box {
    width: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-flow: column nowrap;
}
#btn-card > #desc {
    width: calc(100% - 10px);
    text-align: center;
}