@font-face {
    font-family: 'light';
    src: url(media/fonts/Satoshi-Regular.ttf);
}
@font-face {
    font-family: 'bold';
    src: url(media/fonts/Satoshi-Bold.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(media/fonts/Satoshi-Medium.ttf);
}
@font-face {
    font-family: 'gabarito';
    src: url(media/fonts/Gabarito.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@600&display=swap');

@keyframes underscore {
    0% { color: rgba(255, 255, 255, 0); }
    1% { color: rgba(255, 255, 255, 1); }
    49% { color: rgba(255, 255, 255, 1); }
    50% { color: rgba(255, 255, 255, 0); }
    100% { color: rgba(255, 255, 255, 0); }
}

@keyframes showMenu {
    0% { top: -230px; }
    100% { top: 95px; }
}

@keyframes hideMenu {
    0% { top: 95px; }
    100% { top: -230px; }
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header {
    height: 80px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2;
}
footer {
    height: 250px;
    width: calc(100%);
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}
footer > h3 {
    font-family: 'Bebas Neue';
    font-size: 16px;
    margin: 0 20px;
}
footer > p {
    font-family: 'light';
    margin: 0 20px;
}
footer > .f-left {
    margin: 30px;
}
footer > .f-right {
    width: calc(100% - 150px);
    height: 90%;
    margin: 20px 0 15px 30px;
    display: flex;
    flex-flow: row wrap;
}
footer > .f-left > img {
    height: 200px;
    width: auto;
}
footer > .f-right > .f-links {
    margin-right: 50px;
}
footer > .f-right > .f-links > p {
    line-height: 28px;
}
footer > .f-right > .f-links > p > a {
    text-decoration: none;
}
.container {
    width: 900px;
}
.left {
    height: 80px;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
}
.right {
    height: 80px;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}
.left > img {
    height: 80px;
    width: auto;
    transition: all 0.15s;
}
.right > button {
    height: 50px;
    min-width: 120px;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-family: 'regular', sans-serif;
    border: 0;
    border-radius: 8px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    transition: all 0.15s;
}
.right > button:hover {
    position: relative;
    top: -2px;
    background-color: rgb(225, 225, 225);
}
.right > button:active {
    top: 1px;
}
.right > img {
    display: none;
    transition: all 0.15s;
}
.left > img:active, .right > img:active {
    transform: scale(0.95);
}
h1, h2, h3 {
    font-family: 'Roboto Condensed', serif;
    font-weight: 700;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
a {
    text-decoration: underline 2px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    transition: all 0.1s;
}
a:hover {
    color: rgb(230, 230, 230);
    text-decoration: underline 2px solid rgba(255, 255, 255, 0.7);
}
.arrow {
    height: 30px;
    width: auto;
    margin: 0 15px;
    position: relative;
    top: 5px;
    left: -0px;
    user-select: none;
    transition: all 0.2s;
}
.arrow:hover {
    left: -5px;
}
.arrow:active {
    transform: scale(0.95);
}
.h1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.h1 > h1 {
    margin: 20px 0 10px 15px;
}
.underscore {
    animation: underscore 1s ease infinite;
    font-family: monospace;
    font-weight: 200;
    position: relative;
    top: -3px;
    left: 3px;
}
.announcement {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    width: calc(100% - 24px);
    margin: 0;
    padding: 12px;
    font-family: 'regular';
}
.touch-menu {
    position: absolute;
    margin: -15px 0 8px 0;
    top: calc(-230px);
    left: 0px;
    height: auto;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5px;
    z-index: 1;
}
.touch-menu > button {
    height: 50px;
    width: 80%;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-family: 'regular', sans-serif;
    border: 0;
    border-radius: 8px;
    margin: 0 10px 10px 10px;
    position: relative;
    top: 1px;
    transition: all 0.15s;
}
.touch-menu > button:hover {
    position: relative;
    top: -2px;
    background-color: rgb(225, 225, 225);
}
.touch-menu > button:active {
    top: 1px;
}
.show-menu {
    animation: showMenu 0.5s ease-out;
    top: 95px;
}
.hide-menu {
    animation: hideMenu 0.5s ease-in;
    top: -230px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(25, 25, 25);
    }
    header, footer {
        background-color: rgb(40, 40, 40);
        box-shadow: none;
    }
    .touch-menu > button, .right > button {
        background-color: rgb(40, 40, 40);
        color: rgb(255, 255, 255);
    }
    .touch-menu > button:hover, .right > button:hover {
        background-color: rgb(60, 60, 60);
    }
    h1, h2, h3, p {
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 900px) {
    .right > button {
        display: none;
    }
    .right > img {
        display: block;
        height: 60px;
        width: auto;
        margin-right: 25px;
    }
    .container {
        width: 90%;
    }
    footer {
        flex-flow: row wrap;
        height: auto;
        min-height: 50px;
        padding: 10px;
    }
}